In [ ]:
import pandas as pd
import os

In [ ]:
import csv
import datetime

In [ ]:
f1 = csv.writer(open('/content/drive/MyDrive/Covid19/Feb2020/data_1.csv', 'a'))
f1.writerow(["tweet_id", "date", "time"])
f2 = csv.writer(open('/content/drive/MyDrive/Covid19/Feb2020/data_2.csv', 'a'))
f2.writerow(["tweet_id", "date", "time"])
f3 = csv.writer(open('/content/drive/MyDrive/Covid19/Feb2020/data_3.csv', 'a'))
f3.writerow(["tweet_id", "date", "time"])
for i, j in data.iterrows():
  if i<=1600000:
    f1.writerow([j[1],j[2], j[3]])
  elif i>1600000 and i<=3200000:
    f2.writerow([j[1],j[2], j[3]])
  else:
    f3.writerow([j[1],j[2], j[3]])

In [ ]:
f = csv.writer(open('/content/drive/MyDrive/Covid19/Feb2020/data_1.csv', 'a'))
f.writerow(["tweet_id", "date", "time"])
last =-1
for k in range(1,30):
  count =0;
  if(k==1):
    for i,j in data.iterrows():
      dm = pd.to_datetime(j[2])
      if count<=50000 and dm.day==k:
        f.writerow([j[1],j[2], j[3]])
        count+=1
      elif dm.day!=k:
        last =i
        break
      else:
        continue
  else:
    for i,j in data.iterrows():
      if i <= last:
        continue
      else:
        dm = pd.to_datetime(j[2])
        if count<=50000 and dm.day==k:
          f.writerow([j[1],j[2], j[3]])
          count+=1
        elif dm.day!=k and count!=0:
          last =i
          break
        else:
          continue
  print(k)

In [ ]:
os.chdir('/content/drive/MyDrive/Covid19/Feb2020')

In [ ]:
!python /content/drive/MyDrive/Covid19/get_metadata1.py -i data_1.csv  -o dataset_hydrated_1.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e -s /content/drive/MyDrive/Covid19/Feb2020/feb2020.csv

dataset_hydrated_1.tsv
data_1.csv
total ids: 1598800
creating CSV version of minimized json master file

In [ ]:
!python /content/drive/MyDrive/Covid19/Feb2020/get_metadata.py -i data_2.csv  -o dataset_hydrated_2.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
!python /content/drive/MyDrive/Covid19/Feb2020/get_metadata.py -i data_3.csv  -o dataset_hydrated_3.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
os.chdir('/content/drive/MyDrive/Covid19/Mar2020')

In [ ]:
!python /content/drive/MyDrive/Covid19/Feb2020/get_metadata.py -i data_2.csv  -o dataset_hydrated_2.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

dataset_hydrated_2.tsv
data_2.csv
total ids: 1598800
creating CSV version of minimized json master file

In [ ]:
!python /content/drive/MyDrive/Covid19/Mar2020/get_metadata.py -i data_3.csv  -o dataset_hydrated_2.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

dataset_hydrated_2.tsv
data_3.csv
/content/drive/MyDrive/Covid19/Mar2020/get_metadata.py:360: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  main()
total ids: 749001
creating CSV version of minimized json master file

In [ ]:
feb = pd.read_csv('/content/drive/MyDrive/Covid19/Jan2020/jan2020.csv')

In [ ]:
feb.shape

(930366, 50)

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Covid19/Covid-19-dataset/month-wise-data/july2020.csv')

In [ ]:
data.shape

(43880, 50)

In [ ]:
data['created_at'][46971]

'Thu Apr 30 05:29:55 +0000 2020'

In [ ]:
data['country_code'].value_counts()

In [ ]:
data.head()

                id_str  ... in_reply_to_screen_name
0  1245200441706676225  ...                     NaN
1  1245200505225318401  ...                     NaN
2  1245200491891560453  ...                     NaN
3  1245200491979644929  ...                     NaN
4  1245200551970844674  ...                     NaN

[5 rows x 50 columns]

In [ ]:
li = []
for i in range(1, 31):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
import time

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/April2020/'+i+'april')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/April2020/get_metadata1.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/April2020/'+i+'april')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/April2020/get_metadata1.py -i dataset_1.tsv  -o dataset_hydrated_1.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
li = []
for i in range(1, 32):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/May2020/'+i+'may')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/May2020/get_metadata1.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/May2020/'+i+'may')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/May2020/get_metadata1.py -i dataset_1.tsv  -o dataset_hydrated_1.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
li = []
for i in range(1, 31):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/June2020/'+i+'june')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/June2020/get_metadata1.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/June2020/'+i+'june')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/June2020/get_metadata1.py -i dataset_1.tsv  -o dataset_hydrated_1.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
li = []
for i in range(1, 32):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/July2020/'+i+'july')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/July2020/get_metadata1.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/July2020/'+i+'july')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/July2020/get_metadata1.py -i dataset_1.tsv  -o dataset_hydrated_1.tsv  -k /content/drive/MyDrive/Capstone/misinformation/api_keys.json -m e