In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=5d76e4b2698622e848993e2c5b023fa00cc112852858a126a5241d0df6c6771f
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import gzip
import shutil
import os
import wget

import csv
import linecache
from shutil import copyfile
import numpy as np
import pandas as pd
import time

April

In [ ]:
li = []
for i in range(1, 31):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
#data downloading
for date in li:
  date = str(date)
  dataset_URL = "https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2020-04-"+date+"/2020-04-"+date+"_clean-dataset.tsv.gz?raw=true"
  os.mkdir('/content/drive/MyDrive/Covid19/April2020/'+date+'april')
  wget.download(dataset_URL, out='/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv.gz')

  with gzip.open('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv.gz', 'rb') as f_in:
      with open('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv', 'wb') as f_out:
          shutil.copyfileobj(f_in, f_out)

  os.unlink('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv.gz')


  #english language filtering and location filtering
  filtered_language = 'en'
  filtered_tw = list()
  current_line = 1
  with open('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv') as tsvfile:
    tsvreader = csv.reader(tsvfile, delimiter="\t")

    if current_line == 1:
      filtered_tw.append(linecache.getline('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv', current_line))

      for line in tsvreader:
        # print(line[2])
        # if line[3] == filtered_language and line[4]!="NULL":
        filtered_tw.append(linecache.getline('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv', current_line))
        current_line += 1
        if current_line==10000:  break
    with open('/content/drive/MyDrive/Covid19/April2020/'+date+'april'+'/dataset.tsv', 'w') as f_output:
        for item in filtered_tw:
            f_output.write(item)

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Covid19/April2020/'+i+'april')
  time.sleep(1)
  !python /content/drive/MyDrive/Covid19/April2020/get_metadata.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/coviddata/api_keys.json -m e
  print(i)

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Capstone/misinformation/coviddata/Covid2021.csv')

In [ ]:
data.count()

In [ ]:
data['is_retweet'].value_counts()

False         966485
True            1888
is_retweet       344
Name: is_retweet, dtype: int64

In [ ]:
data.head(1000)

In [ ]:
data['created_at'][6786]

'Wed Apr 01 04:06:31 +0000 2020'

In [ ]:
data['language'].value_counts()

In [ ]:
data.count()

id_str               118307
favorite_count       118307
language             118307
text                 118307
is_retweet           118307
created_at           118307
retweet_count        118307
media                  4911
country_code          15615
country               15632
lattitude               511
longitude               511
user_id              118307
user_name            118290
user_description      98704
user_verification    118307
user_followers       118307
dtype: int64

In [ ]:
data.shape

(107348, 17)

# May

In [ ]:
li = []
for i in range(1, 32):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
#data downloading
for date in li:
  date = str(date)
  dataset_URL = "https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-05-"+date+"/2021-05-"+date+"-dataset.tsv.gz?raw=true"
  os.mkdir('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may')
  wget.download(dataset_URL, out='/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv.gz')

  with gzip.open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv.gz', 'rb') as f_in:
      with open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv', 'wb') as f_out:
          shutil.copyfileobj(f_in, f_out)

  os.unlink('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv.gz')


  #english language filtering and location filtering
  filtered_language = 'en'
  filtered_tw = list()
  current_line = 1
  with open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv') as tsvfile:
    tsvreader = csv.reader(tsvfile, delimiter="\t")

    if current_line == 1:
      filtered_tw.append(linecache.getline('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv', current_line))

      for line in tsvreader:
        if line[3] == filtered_language and line[4]!="NULL":
          filtered_tw.append(linecache.getline('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv', current_line))
        current_line += 1
        # if current_line==20000:  break
    with open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'may'+'/dataset.tsv', 'w') as f_output:
        for item in filtered_tw:
            f_output.write(item)

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+i+'may')
  time.sleep(1)
  !python /content/drive/MyDrive/Capstone/misinformation/coviddata/get_metadata.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/coviddata/api_keys.json

**June**

In [ ]:
li = []
for i in range(1, 31):
  if(i<10):
    li.append("0"+str(i))
  else:
    li.append(str(i))

In [ ]:
#data downloading
for date in li:
  date = str(date)
  dataset_URL = "https://github.com/thepanacealab/covid19_twitter/blob/master/dailies/2021-06-"+date+"/2021-06-"+date+"-dataset.tsv.gz?raw=true"
  os.mkdir('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june')
  wget.download(dataset_URL, out='/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv.gz')

  with gzip.open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv.gz', 'rb') as f_in:
      with open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv', 'wb') as f_out:
          shutil.copyfileobj(f_in, f_out)

  os.unlink('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv.gz')


  #english language filtering and location filtering
  filtered_language = 'en'
  filtered_tw = list()
  current_line = 1
  with open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv') as tsvfile:
    tsvreader = csv.reader(tsvfile, delimiter="\t")

    if current_line == 1:
      filtered_tw.append(linecache.getline('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv', current_line))

      for line in tsvreader:
        if line[3] == filtered_language and line[4]!="NULL":
          filtered_tw.append(linecache.getline('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv', current_line))
        current_line += 1
        # if current_line==20000:  break
    with open('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+date+'june'+'/dataset.tsv', 'w') as f_output:
        for item in filtered_tw:
            f_output.write(item)

In [ ]:
for i in li:
  os.chdir('/content/drive/MyDrive/Capstone/misinformation/coviddata/'+i+'june')
  time.sleep(1)
  !python /content/drive/MyDrive/Capstone/misinformation/coviddata/get_metadata.py -i dataset.tsv  -o dataset_hydrated.tsv  -k /content/drive/MyDrive/Capstone/misinformation/coviddata/api_keys.json
  print(i)

In [ ]:
data =  pd.read_csv('/content/drive/MyDrive/Capstone/misinformation/coviddata/Covid_Data_20_21/Covid2020.csv')

In [ ]:
data.count()

id_str               1030930
favorite_count       1030930
text                 1030930
is_retweet           1030930
created_at           1030930
retweet_count        1030930
media                  33698
country_code         1026843
country              1028077
lattitude              34462
longitude              34462
user_id              1030930
user_name            1030736
user_description      958153
user_verification    1030930
user_followers       1030930
dtype: int64

In [ ]:
data['created_at']

0          Sat Aug 01 04:05:27 +0000 2020
1          Sat Aug 01 04:08:49 +0000 2020
2          Sat Aug 01 04:01:53 +0000 2020
3          Sat Aug 01 04:03:25 +0000 2020
4          Sat Aug 01 04:05:22 +0000 2020
                        ...
1030925    Thu Dec 31 04:34:51 +0000 2020
1030926    Thu Dec 31 04:48:11 +0000 2020
1030927    Thu Dec 31 04:32:02 +0000 2020
1030928    Thu Dec 31 04:43:03 +0000 2020
1030929    Thu Dec 31 04:36:20 +0000 2020
Name: created_at, Length: 1030930, dtype: object

In [ ]:
data.head(100)

         id_str favorite_count  ... user_verification user_followers
0   1.28941E+18              5  ...              TRUE           4717
1   1.28941E+18              1  ...             FALSE             87
2   1.28941E+18              0  ...             FALSE             83
3   1.28941E+18              0  ...             FALSE             83
4   1.28941E+18              0  ...             FALSE            869
..          ...            ...  ...               ...            ...
95  1.28941E+18              1  ...             FALSE           2350
96  1.28942E+18              0  ...             FALSE           1125
97  1.28942E+18              0  ...             FALSE           1287
98  1.28942E+18              0  ...             FALSE           1287
99  1.28942E+18              1  ...             FALSE           3524

[100 rows x 16 columns]

In [ ]:
data.duplicated().sum()

147

In [ ]:
file1 = open('/content/drive/MyDrive/Capstone/misinformation/coviddata/Covid_Data_20_21/Covid2020.csv','r+')
file1.truncate(0)

0

In [ ]:
file1 = open('/content/drive/MyDrive/Capstone/misinformation/coviddata/Covid_Data_20_21/Covid2020.csv','a')
file2 = open('/content/drive/MyDrive/Capstone/misinformation/coviddata/Covid2020.csv','r')

In [ ]:
for line in file2:
  file1.write(line)

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Covid19/2020Covid.csv')

In [ ]:
data.count()

id_str                                           1027857
text                                             1027857
is_retweet                                       1027857
created_at                                       1027857
retweet_count                                    1027857
is_quote_status                                  1027857
quoted_status_id_str                              529203
quoted_status                                     492469
favorite_count                                   1027857
media                                            1027857
tweet_hashtag                                    1027857
tweet_url                                         725520
possibly_sensitive                                825663
favorited                                        1027857
retweeted                                        1027857
language                                         1027857
country_code                                     1023733
country                                          1024959
place_url                                        1025459
place_type                                       1025459
place_name                                       1025459
place_full_name                                  1025459
polygon_longitude_1                              1025308
polyfon_lattitude_1                              1027857
polygon_longitude_2                              1025308
polyfon_lattitude_2                              1027857
polygon_longitude_3                              1025308
polyfon_lattitude_3                              1027857
polygon_longitude_4                              1025308
polyfon_lattitude_4                              1027857
lattitude                                          34003
longitude                                          34003
user_id                                          1027857
user_name                                        1027857
screen_name                                      1027849
user_location                                     912949
user_url                                          454934
user_description                                 1027857
user_verification                                1027857
user_followers                                   1027857
user_favorite_count(no. of tweets user liked)    1027857
user_friend_count                                1027857
user_list_count                                  1027857
user_statuses_count                              1027857
user_created_at                                  1027857
source                                           1027857
truncated                                        1027857
in_reply_to_status_id_str                         124794
in_reply_to_user_id_str                           160217
in_reply_to_screen_name                           160216
dtype: int64