In [ ]:
import pandas as pd

In [ ]:
!pip install -U spacy

In [ ]:
import spacy

In [ ]:
spacy.info()

{'location': '/usr/local/lib/python3.7/dist-packages/spacy',
 'pipelines': {},
 'platform': 'Linux-5.4.144+-x86_64-with-Ubuntu-18.04-bionic',
 'python_version': '3.7.13',
 'spacy_version': '3.2.4'}

In [ ]:
!python3 -m spacy download en_core_web_trf

In [ ]:
pip install spacy[transformers]

In [ ]:
nlp = spacy.load('en_core_web_trf')

In [ ]:
spacy.explain('GPE')

'Countries, cities, states'

In [ ]:
spacy.explain('LOC')

'Non-GPE locations, mountain ranges, bodies of water'

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Capstone/Events/events2.csv')

In [ ]:
Counter([1,2,1,3])

Counter({1: 2, 2: 1, 3: 1})

In [ ]:
from collections import Counter

In [ ]:
data.head(1700)

,date,event,country,country_ner
0,2022-03-11,"China places several cities, including Shangha...",['China'],"[China, Shanghai]"
1,2022-03-11,"Indian state of Maharastra, which was one of t...",['India'],"[Indian, Maharastra]"
2,2022-03-10,UN High Commissioner for Human Rights calls fo...,['UN'],[UN]
3,2022-03-09,"Romania lifts all COVID-19 restrictions, inclu...",['Romania'],[Romania]
4,2022-03-09,The United Nations International Children’s Em...,"['UN', 'United Nation', 'United Nations']",[The United Nations International Children’s E...
...,...,...,...,...
1617,2020-01-20,China’s CDC announces the coronavirus is categ...,['China'],"[China, CDC]"
1618,2020-01-20,China confirms its fourth death from coronavir...,['China'],[China]
1619,2020-01-20,South Korea confirms its first case.,['South Korea'],[South Korea]
1620,2020-01-20,Chinese state TV confirms the human-to-human t...,[],[Chinese]
1621,2020-01-18,A third person dies from the coronavirus.,[],[]

In [ ]:
data.to_csv('/content/drive/MyDrive/Capstone/Events/FinalEvents.csv', index=False)

In [ ]:
size=0
for i, j in data.iterrows():
  if len(j['country_ner'])==0:
    size+=1
print(size)

90

In [ ]:
len(data['country'][0])

9

In [ ]:
data

In [ ]:
finallist = []
for i, j in data.iterrows():
  doc = nlp(j['event'])
  mylist = []
  for entity in doc.ents:
    if entity.label_=='GPE' or entity.label_=='LOC' or entity.label_=='NORP' or entity.label_=='ORG':
      mylist.append(entity.text)
  finallist.append(mylist)

/usr/local/lib/python3.7/dist-packages/torch/autocast_mode.py:141: UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling
  warnings.warn('User provided device_type of \'cuda\', but CUDA is not available. Disabling')

In [ ]:
data['country_ner'] = finallist

In [ ]:
doc = nlp('UN High Commissioner for Human Rights calls for global vaccine equity, noting that only 13 percent of people in low-income countries were vaccinated compared to 70 percent in high-income countries.')

/usr/local/lib/python3.7/dist-packages/torch/autocast_mode.py:141: UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling
  warnings.warn('User provided device_type of \'cuda\', but CUDA is not available. Disabling')

In [ ]:
for entity in doc.ents:
    print(entity.text, entity.label_)

UN ORG
only 13 percent PERCENT
70 percent PERCENT

In [ ]:
spacy.explain('ORG')

'Companies, agencies, institutions, etc.'

In [ ]:
import time

In [ ]:
index = []
for i, j in data.iterrows():
  if "India" in j['country'] and datetime(j['date']).year==2021:
    index.append(i)

TypeError: ignored